@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1024px;
  margin: auto;
}

.left {
  width: 100%;
  height: 150vh;
  max-width: 440px;
  position: relative;
  display: block;
  padding-top: 120px;
}

.left__bg {
  width: 100vw;
  height: 100%;
  display: block;
  right: 0;
  top: 0;
  background-color: #e2e2e2;
  position: absolute;
  z-index: -1;
}

.left__list {
  margin-top: 40px;
}

.left__list--title {
  margin-bottom: 20px;
  color: #9d9d9d;
  font-size: 1.5em;
  font-weight: 700;
}

.left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0;
  list-style: none;
}

.left__item--icon {
  min-width: 36px;
  min-height: 36px;
  margin-right: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #242b33;
}

.left__item--icon i {
  color: #e2e2e2;
  font-size: 1.5em;
}

.left__item--text {
  color: #000;
  font-size: 1.6em;
  font-weight: 700;
}

.left__item:nth-of-type(2) .left__item--text {
  font-size: 1.4em;
}

.left__item:last-child .left__item--text {
  font-size: 1.6em;
}

.profile {
  width: 150px;
  height: 180px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;
}

.profile__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullname {
  margin-bottom: 10px;
  color: #000;
  font-size: 3.6em;
  font-weight: 700;
}

.description {
  color: #000;
  font-size: 2.4em;
  font-weight: 400;
}

.right {
  padding-top: 120px;
  padding-left: 60px;
  display: block;
}

.section-title {
  width: 100%;
  color: #000;
  font-size: 2.4em;
  font-weight: 700;
  margin-left: 6px;
  margin-bottom: 20px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 40px;
}

.tags__item {
  border-radius: 5px;
  padding: 11px 24px;
  background-color: #ececec;
  color: #000;
  font-size: 1.6em;
  font-weight: 700;
}

.tags__item--out {
  padding: 6px;
  list-style: none;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.company__item {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.company__item--cover {
  min-width: 115px;
  max-width: 115px;
  min-height: 115px;
  max-height: 115px;
  border-radius: 50%;
  background-color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.company__item--img, .company__item svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 26px;
}

.company__item--text {
  width: 100%;
  height: 100%;
  margin-left: 30px;
  border-bottom: 1px solid #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company__item--title {
  color: #000;
  font-size: 2em;
  font-weight: 700;
}

.company__item--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 8px;
}

.company__item--position {
  color: #000;
  font-size: 1.4em;
  font-weight: 500;
}

.company__item--date {
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */