@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: Bold;
    src: url("./../fonts/Bold.ttf");
}
@font-face {
    font-family: Regular;
    src: url("./../fonts//Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    // font-family: 'Open Sans', sans-serif;
    font-family: Regular;
    background-color: #fff;
}

.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // max-width: 1855px;
    max-width: 1024px;
    margin: auto;

    @media (max-width: 1050px) {
        flex-direction: column;
    }
}

.header {
    position: fixed;
    width: 100%;
    padding: 18px;
    background-color: #fff;
    z-index: 2;
    display: flex;
}

.left {
    width: 100%;
    height: 1400px;
    max-width: 300px;
    min-width: 300px;
    position: relative;
    display: block;
    padding-top: 60px;

    @media (max-width: 1050px) {
        max-width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__bg {
        width: 100vw;
        height: 100%;
        display: block;
        right: 0;
        top: 0;
        background-color: #e2e2e2;
        position: absolute;
        z-index: -1;

        @media (max-width: 1050px) {
            left: 0;
        }
    }

    &__list {
        margin-top: 40px;

        &--title {
            margin-bottom: 20px;
            color: #9d9d9d;
            font-size: 1.5em;
            font-family: Bold;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        list-style: none;

        &--icon {
            min-width: 30px;
            min-height: 30px;
            margin-right: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #242b33;
            color: #e2e2e2;
            font-size: 1.1em;
            font-weight: 700;


            i {
                color: #e2e2e2;
                font-size: 1.1em;
            }
        }

        &--text {
            color: #000;
            font-size: 1.4em;
            font-weight: 700;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        // &:nth-of-type(3){
        //     .left__item--text {
        //         font-size: 1.4em;
        //     }
        // }

        // &:last-child{
        //     .left__item--text {
        //         font-size: 1.6em;
        //     }
        // }
        
    }
}

.profile {
    width: 150px;
    height: 150px;
    // height: 180px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 5px;

    &__img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
    }
}

.fullname {
    margin-bottom: 10px;
    color: #000;
    font-size: 3em;
    font-family: Bold;
}

.description {
    color: #000;
    font-size: 2.4em;
    font-weight: 400;
}

.right {
    padding-top: 60px;
    padding-left: 60px;
    display: block;
    height: 1400px;

    @media (max-width: 1050px) {
        padding-left: 0;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.section-title {
    width: 100%;
    color: #000;
    // font-size: 2em;
    font-size: 18px;
    font-family: Bold;
    margin-left: 6px;
    margin-bottom: 12px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 20px;

    &__item {

        &--out {
            padding: 4px;
            list-style: none;
        }
        
        border-radius: 5px;
        padding: 7px 19px;
        background-color: #ececec;
        color: #000;
        font-size: 1.4em;
        font-weight: 700;

        &.project {
            width: 90%;
            margin: 0;
            margin-bottom: 10px;
            background-color: transparent;
            border-radius: unset;
            padding: 0;
            font-family: Regular;
        }

        &--name {
            border-radius: 5px;
            padding: 5px 5px 5px 7px;
            background-color: #ececec;
            font-size: 13px;
            margin-bottom: 3px;
            margin-right: 7px;
        }

        &--desc {
            font-size: 13px;
            line-height: 22px;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.company{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__item {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex;
        // align-items: center;
        justify-content: center;
        list-style: none;

        p {
            margin-bottom: 10px;
        }

        &--cover {
            min-width: 52px;
            max-width: 52px;
            min-height: 52px;
            max-height: 52px;
            border-radius: 50%;
            background-color: #cecece;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        &--img, svg {
            width: 40px;
            object-fit: cover;
        }

        &--text {
            width: 100%;
            height: 100%;
            margin-left: 16px;
            border-bottom: 1px solid #cecece;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--title {
            color: #000;
            // font-size: 1.5em;
            font-size: 14px;
            font-family: Bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--name {
            opacity: .7;
        }
        
        &--company {
            opacity: 1;
        }

        &--footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 8px;
        }

        &--position {
            width: 90%;
            color: #000;
            // font-size: 1.3em;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
        }

        &--date {
            color: #000;
            font-size: 11px;
            font-weight: 500;
            font-family: Regular;
        }
    }
}

.about {
    display: none;
    margin-bottom: 30px;
    &__desc {
        margin: 7px 0;
        font-size: 16px;
        line-height: 26px;
    }
}